# 直接リンク
SetEnvIf Referer "^https://40010monogatari\.com/" OK
<Files ~ "\.(png|jpg|jpeg|gif|webp)$">
order deny,allow
deny from all
allow from env=OK
</Files>

#jp-site
#SetEnvIf Referer "" OK website記述がべた
SetEnvIf Referer "google" OK
SetEnvIf Referer "yahoo" OK
SetEnvIf Referer "bing" OK

SetEnvIf Referer "^https://40010monogatari\.com/" OK
#ボットの設定
SetEnvIf User-Agent "Googlebot" ok
SetEnvIf User-Agent "Slurp" denybot
SetEnvIf User-Agent "bingbot" denybot
SetEnvIf User-Agent "msnbot" denybot
SetEnvIf User-Agent "DuckDuckBot" denybot
SetEnvIf User-Agent "Mappy" denybot
SetEnvIf User-Agent "proximic" denybot
SetEnvIf User-Agent "Twitterbot" ok
SetEnvIf User-Agent "applebot" denybot
SetEnvIf User-Agent "blogmuraBot" denybot
SetEnvIf User-Agent "SemrushBot" denybot
SetEnvIf User-Agent "AhrefsBot" denybot
SetEnvIf User-Agent "BLEXBot" denybot
SetEnvIf User-Agent "archive.org_bot" denybot
SetEnvIf User-Agent "ia_archiver" denybot
SetEnvIf User-Agent "AhrefsBot" denybot
SetEnvIf User-Agent "bidswitchbot" denybot
SetEnvIf User-Agent "BLEXBot" denybot
SetEnvIf User-Agent "Scrapy" denybot
SetEnvIf User-Agent "DuckDuckGo-Favicons-Bot" denybot
SetEnvIf User-Agent "GrapeshotCrawler" denybot
SetEnvIf User-Agent "ias-sg" denybot
SetEnvIf User-Agent "MegaIndex" denybot
SetEnvIf User-Agent "MJ12bot" denybot
SetEnvIf User-Agent "PetalBot" denybot
SetEnvIf User-Agent "Pinterestbot" denybot
SetEnvIf User-Agent "proximic" denybot
SetEnvIf User-Agent "SemrushBot" denybot
SetEnvIf User-Agent "SerendeputyBot" denybot
SetEnvIf User-Agent "SMTBot" denybot
SetEnvIf User-Agent "Superfeedr" denybot
SetEnvIf User-Agent "trendictionbot" denybot
SetEnvIf User-Agent "WooRank" denybot
SetEnvIf User-Agent "ZoominfoBot" denybot
<Files ~ ".(xml|css|jpg|jpeg|png|gif|js)$">

#AllowとDenyの順序を指定
order Allow,Deny

#全てのアクセスを許可
Allow from all

#ボットからのアクセスを拒否
Deny from env=denybot
#jp-site is allow
allow from env=OK
</Files>
